.arrows {
    color : black
}
@media print {
    .billContainer{
      display: block !important;
    }
    .billContainer {
      page-break-inside: avoid !important; /* Ensure that page breaks don't occur inside .billContainer */
    }
  }
  .billContainer {
    display: none;
  }
  
